# Gitignore for the frontend and backend of the application

#backend
__pycache__/
*.py[cod]
*$py.class

*.so

.venv/
venv/
env/
ENV/
.env
.virtualenv/
.python-env/

build/
dist/
develop-eggs/
downloads/
.eggs/
*.egg-info
.installed.cfg
*.egg

*.manifest
*.spec

*.log

.vscode/
.idea/
*.code-workspace

.DS_Store
Thumbs.db
desktop.ini

*.pid